import os

# grabs the folder where the script runs
basedir = os.path.abspath(os.path.dirname(__file__))

# avoid cross site attacks
SECRET_KEY = 'super_secret_password'
DEBUG = False

PORT = 4509

# Database user name
USERNAME = 'freeopendata'

# Database password
PASSWORD = ''

# defines the full path for the database
DATABASE_PATH = ''

# the database uri
SQLALCHEMY_DATABASE_URI = 'postgresql://%s:%s@localhost/freeopendata' % (USERNAME, PASSWORD)


GOOGLE_CLIENT_ID = ''

GOOGLE_CLIENT_SECRET = ''

GOOGLE_LOGIN_CLIENT_SCOPES = 'https://www.googleapis.com/auth/userinfo.email,https://www.googleapis.com/auth/userinfo.profile'

GOOGLE_LOGIN_REDIRECT_URI = 'https://freeopendata.com/oauth/google'

STRIPE_SECRET_KEY = ''
STRIPE_PUBLISHABLE_KEY = ''