      body {
          font: normal .8em 'Roboto', sans-serif !important;
      }
      #header {
          padding:10px;
          border-bottom:1px solid green;
      }
h1 {
    font-family: 'Lora', serif;
    font-size:1.25em;
    display:inline;
}
h2 {
    font-size:1.75em;
}
.free {
    color:green;
    font-weight:bold;
}
      #main {
          padding:10px;
      }
#intro {margin-bottom:10px;
    font-size:1.5em;
    background:#98FB98;
    padding:10px;
}
#notice_about_free_use {
    padding:10px;
    background:yellow;
    font-size:1.25em;
}
strong {
    font-weight:bold;
}
p {
    margin-bottom:10px;
}
a:hover {
    text-decoration:none;
}
.account_links {float:right}
#sql_query {width:100%;height:50px;}