body {
    background:#000;
    font-size:2em;
}
body, *, a:link, a:visited {
    color:#FFF;
}
a:link, a:visited {
     text-decoration:underline;
    
}
a:link {
    text-decoration:none;
}
button, input, textarea, select, option {
    background:#000;
    border:1px solid #FFF;
    color:#FFF;
}