      body {
          font-family:verdana;
          font-size:1em/1;
      }
      #header {
          padding:10px;
          border-bottom:1px solid #DEF504;
      }
      th {
          font-weight:bold;
      }
          th, td {
              padding:5px;
              border:1px solid #DEF504;
          }
      textarea {
          width:100%;
          height:50px;
      }
      li.selected {
          background:yellow;
      }
      #explanation {
          margin:0 -10px;
          padding:10px;
          background:#DEF504;
          color:#056BA3;
          font-size:2em;
      }
      .taglist {
  display: inline;
  list-style: none;
  }

  .taglist li {
  display: inline;
      margin-right:10px;
  }

  .taglist li:after {
  content: ", ";
  }
      .taglist li:last-child:after {
    content: "";
  }
      #logo {
          float:left;
          height:50px;
      }
      #header {
          text-align:right;
          height:70px;
      }
      #main {
          padding:10px;
      }
      #useragent { font-size:2em;}
#mini_schema_form {
 margin-top:30px;   
}
.object {
    padding:10px 0;
    border-top:1px solid #DEF504;
}